<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iLocalize</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script src="https://use.fontawesome.com/d08f441100.js"></script>
  </head>
  <body>
      <div id="container"></div>
  </body>
  <script src="/bundle.js"></script>
</html>
